<!DOCTYPE html>
<html>
  <head>
    <title>FmWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% action = @match.actions.first %>
    <%= action.starting_yards.from_left %>

    <% progress = @match.actions_with_state.first[:state].progress %>
    <%= progress.class.name %>
    
    <% phase = action.phases.first %>
    <%= phase.type %>
    <%= phase.yards_diff.number %>
    <div class="progress">
      <div class="progress-right"> </div>
    </div>
    <div class="pitch">
      <div class="marker"> </div>
    </div>
  </body>
</html>
