<!DOCTYPE html>
<html>
  <head>
    <title>FmWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% action = @match.actions.first %>
    <% setup = @match.actions_with_setup.first[:setup] %>
    <% progress = setup.first_down_marker.starting_progress %>
    <% phase = action.phases.first %>
    <% current_yards = action.starting_yards.from_left %>

    <% progress_class_name = (progress.class.name == "ProgressCountup") ? "progress-right" : "progress-left" %>

    <%= phase.type %>
    <div class="progress-box">
      <div class="progress <%= progress_class_name %>"> </div>
    </div>
    <%= phase.yards_diff.number  %>
    <div class="progress-arrow"></div>
    <div class="pitch">
      <div class="marker-start marker-yard-<%= current_yards %>">
        <div class="marker-start-caption">
          <%= current_yards %>
        </div>
      </div>
      <% if setup.first_down_marker.target %>
        <div class="marker-first-down"> 
          <div class="marker-start-caption">
            <%= setup.first_down_marker.target %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
